@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Battleship</h1>
    <br />
    <p>Click to begin a @Html.ActionLink("game against another local player", "Index", "LocalPVP").</p>
    <p>Click to begin a <a href="https://docs.microsoft.com/aspnet/core">game against an online player</a>.</p>
</div>