@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    #game-board {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto; /* 10 COL LAYOUT */
        grid-gap: 5px;
    }

    div.label-cell {
        padding: 5px;
        text-align: center
    }

    div.board-cell-container {
        padding: 5px;
        text-align: center;
    }

    .board-cell {
        display: table-cell;
        width: 2ch;
        text-align: center;
        border: 1px solid #aaa;
    }

    /* (B) SPAN MULTIPLE ROWS */
    .spanrow {
        grid-row-start: 2;
        grid-row-end: 4;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome to PVP Battleship</h1>
    <h2 id="setupBanner">Setup for player 1</h2>
</div>
<br />
<div class="form-group row">
    <label id="playerNameLabel" for="player1Name">Enter the Player's Name</label>
    <div class="col-sm-2">
        <input type="text" class="form-control" id="playerName" placeholder="Player Name">
    </div>
</div>
<!--Battleship board-->

<div id="game-board">
    <div class="label-cell">1</div>
    <div class="label-cell">2</div>
    <div class="label-cell">3</div>
    <div class="label-cell">4</div>
    <div class="label-cell">5</div>
    <div class="label-cell">6</div>
    <div class="label-cell">7</div>
    <div class="label-cell">8</div>
    <div class="label-cell">9</div>
    <div class="label-cell">10</div>
    <div class="board-cell-container">
        <input type="text" class="board-cell" id="test">
    </div>
    <div class="board-cell-container">
        <input type="text" class="board-cell" id="test">
    </div>
    <div class="board-cell-container">
        <input type="text" class="board-cell" id="test">
    </div>
    <div class="board-cell-container">
        <input type="text" class="board-cell" id="test">
    </div>
    <div class="board-cell-container">
        <input type="text" class="board-cell" id="test">
    </div>
    <div class="board-cell-container">
        <input type="text" class="board-cell" id="test">
    </div>
    <div class="board-cell-container">
        <input type="text" class="board-cell" id="test">
    </div>
    <div class="board-cell-container">
        <input type="text" class="board-cell" id="test">
    </div>
    <div class="board-cell-container">
        <input type="text" class="board-cell" id="test">
    </div>
    <div class="board-cell-container">
        <input type="text" class="board-cell" id="test">
    </div>
    <div class="board-cell-container">
        <input type="text" class="board-cell" id="test">
    </div>
    <div class="board-cell-container">
        <input type="text" class="board-cell" id="test">
    </div>
    <div class="board-cell-container">
        <input type="text" class="board-cell" id="test">
    </div>
    <div class="board-cell-container">
        <input type="text" class="board-cell" id="test">
    </div>
    <div class="board-cell-container">
        <input type="text" class="board-cell" id="test">
    </div>
</div>
<br />
<input class="btn btn-primary" type="button" value="Setup Complete" id="submitButton">

<script type="text/javascript">
    $(document).ready(function () {
        //alert("ready!");
    });
</script>